.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.cover-template {
    width: 100%;
    z-index: 10;
}

.card-container {
    background-color: lightpink;
    width: 1200px;
    min-width: 1200px;
    max-width: 1200px;
    position: relative;
    z-index: 0;
}

.content-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 200;
}

.attributes-container,
.info-container,
.stats-container,
.hitbox-container {
    z-index: 20;
    opacity: 0.5;
}

.attributes-container {
    width: 245px;
    margin-left: 15px;

    display: grid;
    height: 200px;
    margin-top: 490px;
}

.race-container {
    background-color: lightblue;
}

.type-container {
    background-color: lightpink;
}

.occupation-container {
    background-color: lightblue;
}

.personality-container {
    background-color: lightpink;
}

.size-container {
    background-color: lightblue;
}

.info-container {
    background-color: lightpink;
    width: 370px;


}

.stats-container {
    width: 350px;
    background-color: lightblue;


}

.hitbox-container {
    width: 250px;
    margin-right: 15px;
    background-color: lightpink;


}